let mapleader = ","

set ideajoin

set showmode
set so=5
set incsearch
set nu
set relativenumber
set cursorline
set ignorecase
set smartcase
"set clipboard+=unnamed
set clipboard+=ideaput
set backspace=indent,eol,start

set commentary
set easymotion
set highlightedyank
set multiple-cursors
set NERDTree
set which-key
set surround
set argtextobj
set textobj-entire
set ReplaceWithRegister

map <C-e> :NERDTreeToggle<CR>
noremap <leader>w :w<CR>
noremap <leader>q :q<CR>
noremap <leader>h :nohlsearch<CR>
noremap <leader>f :action FindInPath<CR>
